
  <style>
  .table th {
    align-items: center;
    justify-content: flex-start;
  }
  
  .table th div {
    display: flex;
    align-items: center;
  }
  
  .table th span {
    margin-right: 5px; /* Space between text and dropdown */
  }
 </style>


      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <h1 style="font-weight: bold; padding-left: 30px;">Penyerahan Kehadiran</h1>
                    </li>
                  </ul>
                  <div>
                    <div class="btn-wrapper">
                      <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                      <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                    </div>
                  </div>
                </div>
                <div class="tab-content tab-content-basic">

                  <!-- Your data table here -->
                  <div class="card card-rounded">
                    <div class="card-body">
                      <div class="table-responsive">

                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>
                                      <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 5px;">Name</span>
                                        <div class="dropdown">
                                          <button
                                            class="btn rounded-3 wrapper"
                                            type="button"
                                            id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown"
                                            data-hover="dropdown"
                                            aria-expanded="false"
                                          >
                                            <i class="mdi mdi-arrow-down"></i>
                                          </button>
                                          <ul
                                            class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="dropdownMenuButton1"
                                          >
                                            <li><a class="dropdown-item" onclick="filterAll()">All</a></li>
                                            <li><a class="dropdown-item" onclick="filterPassed()">Passed</a></li>
                                            <li><a class="dropdown-item" onclick="filterFailed()">Failed</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </th>
                                    <th>
                                      <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 5px;">NDP</span>
                                        <div class="dropdown">
                                          <button
                                            class="btn rounded-3 wrapper"
                                            type="button"
                                            id="dropdownMenuButton2"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                          >
                                            <i class="mdi mdi-arrow-down"></i>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" onclick="filterAll()">All</a></li>
                                            <li><a class="dropdown-item" onclick="filterPassed()">Passed</a></li>
                                            <li><a class="dropdown-item" onclick="filterFailed()">Failed</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </th>
                                    <th>
                                      <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 5px;">Kursus</span>
                                        <div class="dropdown">
                                          <button
                                            class="btn rounded-3 wrapper"
                                            type="button"
                                            id="dropdownMenuButton3"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                          >
                                            <i class="mdi mdi-arrow-down"></i>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton3">
                                            <li><a class="dropdown-item" onclick="filterAll()">All</a></li>
                                            <li><a class="dropdown-item" onclick="filterPassed()">Passed</a></li>
                                            <li><a class="dropdown-item" onclick="filterFailed()">Failed</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </th>
                                    <th>
                                      <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 5px;">Semester</span>
                                        <div class="dropdown">
                                          <button
                                            class="btn rounded-3 wrapper"
                                            type="button"
                                            id="dropdownMenuButton4"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                          >
                                            <i class="mdi mdi-arrow-down"></i>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton4">
                                            <li><a class="dropdown-item" onclick="filterAll()">All</a></li>
                                            <li><a class="dropdown-item" onclick="filterPassed()">Passed</a></li>
                                            <li><a class="dropdown-item" onclick="filterFailed()">Failed</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </th>
                                    <th>
                                      <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 5px;">Sebab</span>
                                        <div class="dropdown">
                                          <button
                                            class="btn rounded-3 wrapper"
                                            type="button"
                                            id="dropdownMenuButton5"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                          >
                                            <i class="mdi mdi-arrow-down"></i>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5">
                                            <li><a class="dropdown-item" onclick="filterAll()">All</a></li>
                                            <li><a class="dropdown-item" onclick="filterPassed()">Passed</a></li>
                                            <li><a class="dropdown-item" onclick="filterFailed()">Failed</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </th>
                                    <th>
                                      <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 5px;">Masa</span>
                                        <div class="dropdown">
                                          <button
                                            class="btn rounded-3 wrapper"
                                            type="button"
                                            id="dropdownMenuButton6"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                          >
                                            <i class="mdi mdi-arrow-down"></i>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton6">
                                            <li><a class="dropdown-item" onclick="filterAll()">All</a></li>
                                            <li><a class="dropdown-item" onclick="filterPassed()">Passed</a></li>
                                            <li><a class="dropdown-item" onclick="filterFailed()">Failed</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </th>
                                    <th>
                                      <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 5px;">Tarikh</span>
                                        <div class="dropdown">
                                          <button
                                            class="btn rounded-3 wrapper"
                                            type="button"
                                            id="dropdownMenuButton7"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                          >
                                            <i class="mdi mdi-arrow-down"></i>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton7">
                                            <li><a class="dropdown-item" onclick="filterAll()">All</a></li>
                                            <li><a class="dropdown-item" onclick="filterPassed()">Passed</a></li>
                                            <li><a class="dropdown-item" onclick="filterFailed()">Failed</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </th>
                                    <th>Lihat</th>
                                  </tr>
                                </thead>                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Muhammad Hazeq bin mohd sohaimi</td>
                                <td>22123003</td>
                                <td>F04 (Teknologi Komputer Sistem)</td>
                                <td>1</td>
                                <td>Demam Kus-Kus</td>
                                <td>9:59 PM</td>
                                <td>11/10/2030</td>
                                <td> <i class="mdi mdi-eye" style="font-size: 1.5rem; "></i> </td>
                                <td><label class="btn btn-badge text-white badge-success fw-bold">Edit</label></td>
                                <td><label class="btn btn-primary text-white me-0 fw-bold">Confirm</label></td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Shamma bin priyan</td>
                                <td>22123003</td>
                                <td>F04 110</td>
                                <td>3</td>
                                <td>Sakit Kronik</td>
                                <td>8:00 PM</td>
                                <td>11/10/2030</td>
                                <td> <i class="mdi mdi-eye" style="font-size: 1.5rem;"></i> </td>
                                <td><label class="btn btn-badge text-white badge-success fw-bold">Edit</label></td>
                                <td><label class="btn btn-primary text-white me-0 fw-bold">Confirm</label></td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Muhammad Hazeq bin mohd sohaimi</td>
                                <td>22123003</td>
                                <td>F04 (Teknologi Komputer Sistem)</td>
                                <td>2</td>
                                <td>Macam Biasa</td>
                                <td>7:60 PM</td>
                                <td>11/10/2030</td>
                                <td> <i class="mdi mdi-eye" style="font-size: 1.5rem;"></i> </td>
                                <td><label class="btn btn-badge text-white badge-success fw-bold">Edit</label></td>
                                <td><label class="btn btn-primary text-white me-0 fw-bold">Confirm</label></td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Designed by<a
                href="https://www.linkedin.com/in/muhd-hazeq-39b107299/" target="_blank">Zeqks</a> feel free to
              contact.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Sekas &copy; 2024 | All rights
              reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <script>

    function filterAll() {
      var table, tr, i, j;
      table = document.getElementById("userDetails");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          tr[i].style.display = "";
        }
      }
    }

    function filterPassed() {
      var status, found, table, tr, td, i, j;
      status = "Passed";
      table = document.getElementById("userDetails");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].textContent == status) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }

    function filterFailed() {
      var status, found, table, tr, td, i, j;
      status = "Failed";
      table = document.getElementById("userDetails");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].textContent == status) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }

</script>

